@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* Apply the Itim font globally */
/* html {
  font-family: 'Itim', cursive;
} */

:root {
  --background: #f9f9f9;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Itim', cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Itim';
  src: url('/font/Itim-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #20274d; /* Thumb color */
  border-radius: 0x; /* Rounded corners for thumb */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #20274d; /* Change thumb color on hover */
}
