@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/* Apply the Itim font globally */
/* html {
  font-family: 'Itim', cursive;
} */

:root {
  --background: #f9f9f9;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Itim', cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Itim';
  src: url('/font/Itim-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
